@model IEnumerable<MusicService.Models.Post>
@using MusicService.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




@Html.Partial("_Player")
<h2 style="margin-top: 1em">Music</h2>
<div class="sm2-inline-list">
    
       <table class="table table-striped">
        @foreach (var post in Model)
        {
            <tr><td>
            @{UsersContext db = new UsersContext();
            var tracks = post.Tracks;
            foreach (var track in tracks)
            {            
                <div class="ui360 ui360-vis">
                    <a href=@Uri.EscapeDataString(track.FileName)>@Html.DisplayFor(modelItem => track.Name)</a>
                </div>
                @post.Message
            }
            }            
            @Html.ActionLink("Delete", "Delete", new { id=post.PostId })
            </td></tr>
        }
        </table>
</div>

